* {
    box-sizing: border-box;
    font-family: 'Ropa Sans', sans-serif;
  }
  
 /*body {
    background-image: url(https://i.imgur.com/ivSATQT.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 */
 .EGA {
    text-align: center;
 }
 
 .logo {
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.block {
    padding: 10px 20px;
    list-style: none;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}
  
.QuestionScore {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 25px;
    padding: 15px;
}
  
.main {
    text-align: center;
}
  
.startButton, .restartButton {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 20px;
    border: none;
    background-color: rgb(26, 27, 27);
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 40px;
    margin-bottom: 50px;
}

main div {
    margin: 0 auto;
}

label {
    padding: 20px;
    margin-bottom: 10px;
    font-size: 22px;
    display: flex;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-out;
    line-height: 22px;
    background-color: red;
}

label:hover, label:focus {
    background-color: rgb(255, 174, 0);
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #ffffff;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

input:checked {
    border: 8px solid #ebca52;
}

input[type=radio] {
    flex: 0 0 auto;
    margin-right: 10px;
}

form button {
    padding: 20px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

form button:hover, form button:focus {
    background-color: #363946;
    color: yellow;
}

fieldset {
    border: none;
    display: flex;
}

.answer {
    flex: 1 1 auto;
}

.questionAnswerForm {
    display: none;
    width: 50%;
    color: black;
}

.questions {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.correctFeedback, .wrongFeedback {
    font-size: 25px;
    font-weight: bold;
    text-align: center; 
}

.nextButton {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: none;
    background-color: rgb(26, 27, 27);
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 40px;
    margin-bottom: 50px;
}

.results {
    color: black;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-evenly;
    align-items: center;
}

.results > img {
    flex-grow: 2;
    align-self: center;
}

@media screen and (max-width: 750px) {

.questionAnswerForm,
.quizStart {
    width: 80%;
    margin-bottom: 100px
}

.EGA {
    text-align: center;
 }
 
 .logo {
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.QuestionScore {
    padding: 5px;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
    /*.logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;

    }*/

    .EGA {
        text-align: center;
     }
     
     .logo {
        width: 40%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    header ul {
        margin: 10px;
        text-align: center
    }
    h1 {
        font-size: 1.5em
    }
    header ul li {
        padding: 10px;
        font-size: 18px
    }
    .EGA, .QS {
        width: 100%
    }

    .block {
        margin-top: 30px;
    }
    
    .QuestionScore {
        display: block;
        font-size: 22px;
    }
    .quizStart {
        width: 100%;
        padding-top: 0;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 20px;
        margin-top: 0;
    }
    h2 {
        font-size: 18px
    }
    
    .questionAnswerForm {
        width: 100%;
        padding: 20px;
        margin-top: 0
    }
    
    label {
        font-size: 16px;
        padding: 15px
    }

    .correctFeedback p, .wrongFeedback p {
        font-size: 22px;
        margin: 0 15px
    }

    h3 {
        margin-top: 0;
        margin-bottom: 10px;
    }

    /*.startButton, .nextButton {
        font-size: 22px;
        padding: 10px;
    }
    */
   
}