* {
    box-sizing: border-box;
    font-family: 'Ropa Sans', sans-serif;
  }
  
  body {
    border: 5px solid black;
  }
  
  .QS_block {
      padding: 10px 20px;
      list-style: none;
      text-align: center;
      font-size: 25px;
      text-transform: uppercase;
  }
  
  .QuestionScore {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
  }
  
  .logo {
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  
  .main {
    text-align: center;
  }
  
  .startButton {
      padding: 20px;
      border: none;
      background-color: rgb(26, 27, 27);
      color: #ffffff;
      font-size: 25px;
      text-transform: uppercase;
      border-radius: 0;
      cursor: pointer;
      transition: all 0.3s ease;
      margin-top: 40px;
      margin-bottom: 50px;
  }